<!DOCTYPE html>
<html>
  <head>
    <title>Event Edit</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/event_management.css" />
  </head>
  <body>
    <!--
        slots can by default be 0 since the user has to manaully add slots for them
    -->
    <% let default_segment = { segid: "DEFAULT_SEGID", name: "DEFAULT_NAME", description: "DEFAULT_DESCRIPTION", idealTime: "DEFAULT_IDEALTIME", notifyOnChange: "DEFAULT_NOTIFYONCHANGE", slots: 0 } %>
    <% let default_slot = { slotIndex: "DEFAULT_SLOTINDEX", segment: default_segment, song: "DEFAULT_SONG" } %>
    <% let eventData = JSON.parse(event.data) %>
    <% if(eventData == null || eventData == {} || !eventData.segments) { %>
        <% eventData = {segments: []}; %>
    <% } %>

    <% let startDateString = event.start.getFullYear() + "-" + (event.start.getMonth() + 1).toString().padStart(2, '0') + "-" + event.start.getDate().toString().padStart(2, '0') %>
    <% let startTimeString = event.start.getHours().toString().padStart(2, '0') + ":" + event.start.getMinutes().toString().padStart(2, '0') %>
    <% let endDateString = event.ending.getFullYear() + "-" + (event.ending.getMonth() + 1).toString().padStart(2, '0') + "-" + event.ending.getDate().toString().padStart(2, '0') %>
    <% let endTimeString = event.ending.getHours().toString().padStart(2, '0') + ":" + event.ending.getMinutes().toString().padStart(2, '0') %>
    <script>
        let segment_template = `<%- include('./partials/event/segment.ejs', {segment: default_segment}) %>`;
        let slot_template = `<%- include('./partials/event/song_slot.ejs', default_slot) %>`;
        // get template data directly from the server; it needs to be stored for a JSON builder
        let dataStructure = JSON.stringify(<%- event.data %>);
        let usingEid = "<%= event.eid %>";
        dataStructure = JSON.parse(dataStructure);
        if(dataStructure == null || dataStructure == {} || !dataStructure.segments) {
            dataStructure = {segments: []};
        }
    </script>
    
    <%- include('./partials/header.ejs'); %>
    <script src="/js/event_edit.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="event-management-vertical-flex">
                <div class="event-management-header">
                    <div class="flex center spacing wrap">
                        <button onclick="window.location = '/events'" class="button-alternate"><span class="button-text">See All Events</span></button>
                        <button onclick="window.location = '/event/<%= event.eid %>'" class="button-alternate"><span class="button-text">View This Event</span></button>
                        <button onclick="deleteEvent()" class="button-main error-bg"><span class="button-text">Delete Event</span></button>
                        <button onclick="cloneEvent()" class="button-main"><span class="button-text">Duplicate Event</span></button>
                    </div>

                    <div class="form">
                        <div class="flex apart wrap">
                            <div class="event-management-detail-item">
                                <div class="flex apart">
                                    <span class="tiny event-management-detail-tag">Event Name</span>
                                </div>
                                <div class="flex apart">
                                    <input name="name" onchange="editEvent(this)" class="input" value="<%= event.name %>" type="text" placeholder="Event Name" id="event-name" />
                                </div>
                            </div>
                            <div class="event-management-detail-item">
                                <div class="flex apart">
                                    <span class="tiny event-management-detail-tag">Event Start <%= startDateString %> <%= startTimeString %></span>
                                </div>
                                <div class="flex apart">
                                    <input type="time" class="input" placeholder="Start Date" name="start_time" value="<%= startTimeString %>" onchange="editEventTime(this)" />
                                    <input type="date" class="input" placeholder="Start Time" name="start_date" value="<%= startDateString %>" onchange="editEventTime(this)" />
                                    <input type="text" hidden class="input" placeholder="Start" name="start" onchange="editEvent(this)" />
                                </div>
                            </div>
                            <div class="event-management-detail-item">
                                <div class="flex apart">
                                    <span class="tiny event-management-detail-tag">Event End</span>
                                </div>
                                <div class="flex apart">
                                    <input type="time" class="input" placeholder="Start Date" name="end_time" value="<%= endTimeString %>" onchange="editEventTime(this)" />
                                    <input type="date" class="input" placeholder="Start Time" name="end_date" value="<%= endDateString %>" onchange="editEventTime(this)" />
                                    <input type="text" hidden class="input" placeholder="End" name="ending" onchange="editEvent(this)" />
                                </div>
                            </div>
                        </div>
                        <div class="event-management-detail-item">
                            <div class="flex apart">
                                <span class="tiny event-management-detail-tag">Event Description</span>
                            </div>
                            <div class="flex apart">
                                <textarea class="input textarea small" onchange="editEvent(this)" placeholder="Description" name="description" id="event-description"><%= event.description %></textarea>
                            </div>
                        </div>
                        <div class="flex apart wrap">
                            
                            <div class="flex center">
                                <div class="event-management-detail-item">
                                    <div class="flex apart">
                                        <span class="tiny event-management-detail-tag">Event Type</span>
                                    </div>
                                    <div class="flex apart">
                                        <div class="flex center">
                                            <select onchange="updateEventTypePreview(this)" name="etyid" data-initvalue="<%= event.etyid %>" class="input select-from-none" id="event-type">
                                                <option value="" disabled selected>Select your type</option>
                                                <% eventTypes.forEach(function(eventType) { %>
                                                    <option value="<%= eventType.etyid %>"><%= eventType.name == "" ? "Unnamed Type" : eventType.name %></option>
                                                <% }); %>
                                            </select>
                                            <span class="material-symbols-rounded large icon-preview flex center" id="event-type-preview"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="event-management-detail-item">
                                    <div class="flex apart">
                                        <span class="tiny event-management-detail-tag">Location</span>
                                    </div>
                                    <div class="flex apart">
                                        <input name="location" onchange="editEvent(this)" class="input" value="<%= event.location %>" type="text" placeholder="Location" id="event-location" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                

                    
                    <div>
                        <span class="small no-display error error-message" name="error"></span>
                    </div>
                    
                </div>

                <div class="splitpage">
                    <div class="content-left">
                        <div class="form">
                            <div class="flex center spacing">
                                <span class="medium">Attending Splits</span>
                            </div>
                            <div class="flex apart spacing">
                                <span class="small"><strong>Split</strong></span>
                                <span class="small"><strong>Attending</strong></span>
                                
                            </div>
                            <div class="spacing">
                                <% for(let i = 0; i < splits.length; i++) { %>
                                    <% let split = splits[i] %>
                                    <% let group = groups.find(g => g.gid == split.gid) %>
                                    <% let attending = eventParticipation.find(ep => ep.sid == split.sid) != undefined %>
                                    <div class="flex apart split-attend-item">
                                        <div class="flex center">
                                            <span class="small"><%= group.name %></span>
                                            <span class="small material-symbols-rounded">arrow_forward</span>
                                            <div class="flex center tag-text info-bg" style="background: <%= split.color %>; background: <%= split.gradientBackground %>">
                                                <span class="small material-symbols-rounded"><%= split.icon %></span>
                                                <span class="small"><%= split.name %></span>
                                            </div>
                                        </div>
                                        
                                        
                                        <label class="checkbox-container">
                                            <input type="checkbox" onchange="updateSplitAttending(this)" data-sid="<%= split.sid %>" <%= attending ? 'checked' : '' %> name="show"/>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="event-management-list">
    
                            <div id="segment-list">
                                <% eventData.segments.forEach((segment) => { %>
                                    <%- include('./partials/event/segment.ejs', {segment: segment}) %>
                                <% }); %>
                            </div>
                            <div class="flex center spacing">
                                
                                <button onclick="saveEventStructure()" class="button-main success-bg" disabled id="save-event-template"><span class="button-text">Save Template Structure</span></button>
                                <button onclick="createSegment()" class="button-main"><span class="button-text">Add Segment</span></button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                

                

                
                    
            </div>


            
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>