<!DOCTYPE html>
<html>
  <head>
    <title>Event Types</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/event_type.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <% let default_event_type_item_data_icon = {etyid: "DEFAULT_ETYID", name: "DEFAULT_NAME", color: "DEFAULT_COLOR", icon: "DEFAULT_ICON", image: false} %>
    <% let default_event_type_item_data_image = {etyid: "DEFAULT_ETYID", name: "DEFAULT_NAME", color: "DEFAULT_COLOR", icon: "IMAGE:DEFAULT_ICON", image: true} %>
    
    <script>
        let event_type_item_template_icon = `<%- include('./partials/config/event_type_item.ejs', {eventType: default_event_type_item_data_icon}) %>`;
        let event_type_item_template_image = `<%- include('./partials/config/event_type_item.ejs', {eventType: default_event_type_item_data_image}) %>`;
    </script>
   
    
    <script src="/js/event_type.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="role-vertical-flex">
                <div class="role-header">
                    <div class="flex center">
                        <span class="large spacing">Event Types</span>
                    </div>
                    
        
                    <span class="small spacing">Edit the types of events that are to be created / shown on the home page. Event types link up to specific templates, so they can be created and modified easily!</span>
                    <div class="message message-error">
                        <span class="small message-content">Event types only can be deleted if they aren't used in any upcoming events. All past events with a deleted event type will be inaccessible and cannot be changed until a valid event type is chosen.</span>
                    </div>
                    <div class="flex center">
                        <button class="button-main" onclick="createEventType()"><span class="button-text">New Event Type</span></button>
                    </div>
                    

                    
                    
                </div>
                <div id="event-type-list" class="flex center start event-type-list">
                    <%- include('./partials/config/all_event_types.ejs', {eventTypes: eventTypes}); %>
                </div>
            </div>
            
            
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>