<!DOCTYPE html>
<html>
  <head>
    <title>Create Event</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/event_create.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <script src="/js/event_create.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <span class="large">Create Event</span>
            <div class="form">
                <div class="flex apart">
                    <div class="event-create-detail-item">
                        <div class="flex apart">
                            <span class="tiny event-create-detail-tag">Event Name</span>
                        </div>
                        <div class="flex apart">
                            <input name="name" type="text" class="input event-create-detail-value" placeholder="Super Cool Event"/>
                        </div>
                    </div>
                    
                    <div class="event-create-detail-item">
                        <div class="flex apart">
                            <span class="tiny event-create-detail-tag">Event Start</span>
                        </div>
                        <div class="flex center">
                            <input type="time" class="input" placeholder="Start Date" name="start_time" />
                            <input type="date" class="input" placeholder="Start Time" name="start_date" />
                        </div>
                    </div>
                    <div class="event-create-detail-item">
                        <div class="flex apart">
                            <span class="tiny event-create-detail-tag">Event End</span>
                        </div>
                        <div class="flex center">
                            <input type="time" class="input" placeholder="End Date" name="end_time" />
                            <input type="date" class="input" placeholder="End Time" name="end_date" />
                        </div>
                    </div>
                </div>
                <div class="event-create-detail-item">
                    <div class="flex apart">
                        <span class="tiny event-create-detail-tag">Event Description</span>
                    </div>
                    <div class="flex apart">
                        <textarea class="input textarea small" placeholder="Description" name="description"></textarea>
                    </div>
                </div> 
                
                <div class="flex center section">
                    <div class="event-create-detail-item">
                        <div class="flex apart">
                            <span class="tiny event-create-detail-tag">Event Type</span>
                        </div>
                        <div class="flex apart">
                            <div class="flex center">
                                <select onchange="updateEventTypePreview(this)" class="input select-from-none">
                                    <option value="" disabled selected>Select your type</option>
                                    <% eventTypes.forEach(function(eventType) { %>
                                        <option value="<%= eventType.etyid %>"><%= eventType.name == "" ? "Unnamed Type" : eventType.name %></option>
                                    <% }); %>
                                </select>
                                <span class="material-symbols-rounded large icon-preview flex center" id="event-type-preview"></span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="event-create-detail-item">
                        <div class="flex apart">
                            <span class="tiny event-create-detail-tag">Create with Event Template (optional)</span>
                        </div>
                        <div class="flex apart">
                            <div class="flex center">
                                <select onchange="updateEventTemplate(this)" class="input select-from-none">
                                    <option value="" disabled selected>Select your template</option>
                                    <% eventTemplates.forEach(function(eventTemplate) { %>
                                        <option value="<%= eventTemplate.etid %>"><%= eventTemplate.name == "" ? "Unnamed Template" : eventTemplate.name %></option>
                                    <% }); %>
                                </select>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="event-create-detail-item">
                        <div class="flex apart">
                            <span class="tiny event-create-detail-tag">Show</span>
                        </div>
                        <div class="flex apart">
                            <label class="checkbox-container">
                                <input type="checkbox" name="show"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="event-template-warning" class="no-display">
                    <div class="message message-warning">
                        <span class="small message-content">The event template you selected does not match the selected event type. This won't stop the event from being created, but the data may not be similar to other events.</span>
                    </div>
                </div>

                <div class="flex center spacing">
                    <span class="small no-display error error-message" name="error" id="event-create-error"></span>
                </div>

                <div class="flex center">
                    <button class="button-main" onclick="submitEventForCreation()"><span class="button-text">Create Event</span></button>
                </div>

            </div>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>