<!DOCTYPE html>
<html>
  <head>
    <title>Event Edit</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/event_management.css" />
  </head>
  <body>
    <!--
        slots can by default be 0 since the user has to manaully add slots for them
    -->
    <% let default_segment = { segid: "DEFAULT_SEGID", name: "DEFAULT_NAME", description: "DEFAULT_DESCRIPTION", idealTime: "DEFAULT_IDEALTIME", notifyOnChange: "DEFAULT_NOTIFYONCHANGE", slots: 0 } %>
    <% let default_slot = { slotIndex: "DEFAULT_SLOTINDEX", segment: default_segment, song: "DEFAULT_SONG" } %>
    <% let eventData = JSON.parse(event.data) %>
    <% if(eventData == null || eventData == {}) { %>
        <% eventData = {segments: []}; %>
    <% } %>
    <script>
        let segment_template = `<%- include('./partials/event/segment.ejs', {segment: default_segment}) %>`;
        let slot_template = `<%- include('./partials/event/song_slot.ejs', default_slot) %>`;
        // get template data directly from the server; it needs to be stored for a JSON builder
        let dataStructure = JSON.stringify(<%- event.data %>);
        let usingEid = "<%= event.eid %>";
        dataStructure = JSON.parse(dataStructure);
        if(dataStructure == null || dataStructure == {}) {
            dataStructure = {segments: []};
        }
    </script>
    
    <%- include('./partials/header.ejs'); %>
    <script src="/js/event_edit.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="event-management-vertical-flex">
                <div class="event-management-header">
                    <div class="flex center spacing wrap">
                        <button onclick="window.location = '/events'" class="button-alternate"><span class="button-text">See All Events</span></button>
                        <button onclick="deleteEvent()" class="button-main error-bg"><span class="button-text">Delete Event</span></button>
                        <button onclick="cloneEvent()" class="button-main"><span class="button-text">Duplicate Event</span></button>
                    </div>

                    <div class="form">
                        <div class="flex apart">
                            <div class="event-management-detail-item">
                                <div class="flex apart">
                                    <span class="tiny event-management-detail-tag">Event Name</span>
                                </div>
                                <div class="flex apart">
                                    <input name="name" onchange="editEvent(this)" class="input" value="<%= event.name %>" type="text" placeholder="Event Name" id="event-name" />
                                </div>
                            </div>
                            <div class="event-management-detail-item">
                                <div class="flex apart">
                                    <span class="tiny event-management-detail-tag">Event Start</span>
                                </div>
                                <div class="flex apart">
                                    <input type="time" class="input" placeholder="Start Date" name="start_time" value="<%= event.start.toISOString().substring(11,16) %>" onchange="editEventTime(this)" />
                                    <input type="date" class="input" placeholder="Start Time" name="start_date" value="<%= event.start.toISOString().substring(0,10) %>" onchange="editEventTime(this)" />
                                    <input type="text" hidden class="input" placeholder="Start" name="start" onchange="editEvent(this)" />
                                </div>
                            </div>
                            <div class="event-management-detail-item">
                                <div class="flex apart">
                                    <span class="tiny event-management-detail-tag">Event End</span>
                                </div>
                                <div class="flex apart">
                                    <input type="time" class="input" placeholder="Start Date" name="end_time" value="<%= event.ending.toISOString().substring(11,16) %>" onchange="editEventTime(this)" />
                                    <input type="date" class="input" placeholder="Start Time" name="end_date" value="<%= event.ending.toISOString().substring(0,10) %>" onchange="editEventTime(this)" />
                                    <input type="text" hidden class="input" placeholder="End" name="ending" onchange="editEvent(this)" />
                                </div>
                            </div>
                        </div>
                        <div class="event-management-detail-item">
                            <div class="flex apart">
                                <span class="tiny event-management-detail-tag">Event Description</span>
                            </div>
                            <div class="flex apart">
                                <textarea class="input textarea small" onchange="editEvent(this)" placeholder="Description" name="description" id="event-description"><%= event.description %></textarea>
                            </div>
                        </div>
                        <div class="flex apart">
                            
                            <div class="flex center">
                                <div class="event-management-detail-item">
                                    <div class="flex apart">
                                        <span class="tiny event-management-detail-tag">Event Type</span>
                                    </div>
                                    <div class="flex apart">
                                        <div class="flex center">
                                            <select onchange="updateEventTypePreview(this)" name="etyid" data-initvalue="<%= event.etyid %>" class="input select-from-none" id="event-type">
                                                <option value="" disabled selected>Select your type</option>
                                                <% eventTypes.forEach(function(eventType) { %>
                                                    <option value="<%= eventType.etyid %>"><%= eventType.name == "" ? "Unnamed Type" : eventType.name %></option>
                                                <% }); %>
                                            </select>
                                            <span class="material-symbols-rounded large icon-preview flex center" id="event-type-preview"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="flex center">
                                <div class="event-management-detail-item">
                                    <div class="flex apart">
                                        <span class="tiny event-management-detail-tag">Location</span>
                                    </div>
                                    <div class="flex apart">
                                        <input name="location" onchange="editEvent(this)" class="input" value="<%= event.location %>" type="text" placeholder="Location" id="event-location" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                

                    
                    <div>
                        <span class="small no-display error error-message" name="error"></span>
                    </div>
                    
                </div>

                <div class="event-management-list">
    
                    <div id="segment-list">
                        <% eventData.segments.forEach((segment) => { %>
                            <%- include('./partials/event/segment.ejs', {segment: segment}) %>
                        <% }); %>
                    </div>
                    <div class="flex center spacing">
                        
                        <button onclick="saveEventStructure()" class="button-main success-bg" disabled id="save-event-template"><span class="button-text">Save Template Structure</span></button>
                        <button onclick="createSegment()" class="button-main"><span class="button-text">Add Segment</span></button>
                    </div>
                </div>

                

                
                    
            </div>


            
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>