<!DOCTYPE html>
<html>
  <head>
    <title>All Groups</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/groups.css" />
  </head>
  <body>

    

    <%- include('./partials/header.ejs'); %>

    
    <script src="/js/groups.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">

            <% if(permissions.includes("groups") || permissions.includes("splits")) { %>
                <div class="spacing-bottom flex center">
                    <% if(permissions.includes("groups")) { %>
                        <button onclick="window.location = '/groups/edit'" class="button-alternate"><span class="button-text">Manage All Groups</span></button>
                    <% } %>
                    <button onclick="window.location = '/splits/edit'" class="button-alternate"><span class="button-text">Manage All Splits</span></button>
                </div>
            <% } %>

            <div class="flex center spacing">
                <span class="large">All Groups</span>
            </div>

            <% for(let i = 0; i < groups.length; i++) { %>
                <% let group = groups[i] %>
                <% let membership = group.membership %>
                <% let elevated = membership != undefined && membership.elevated %>
                <div class="flex apart group" style="background: <%= group.color %>;background: <%= group.gradientBackground %> ">
                    <div class="flex center">
                        <div>
                            <%- include('./special/icon.ejs', {parentClass: "large", iconClass: "large", icon: group.icon, label: "", labelClass: "", idDataProperty: "gid", id: group.gid}) %>
                            <!-- <span class="large material-symbols-rounded"><%= group.icon %></span> -->
                        </div>
                        <div class="spacing">
                            <span class="large"><%= group.name %></span>
                        </div>
                        
                    </div>
                    <div class="flex center">
                        <% if(user) { %>
                            <% if(elevated || permissions.includes("groups")) { %>
                                <button class="button-main white-bg" onclick="window.location = '/group/<%= group.gid %>/edit'"><span class="button-text" style="color: <%= group.color %>">Edit Group</span></button>
                            <% } %>
                            <% if(membership) { %>
                                <% if(permissions.includes("groups_join")) { %>
                                    <button class="button-main white-bg" data-open="<%= group.open %>" data-gid="<%= group.gid %>" onclick="leaveGroup(this)"><span class="button-text" style="color: <%= group.color %>">Leave Group</span></button>
                                <% } %>
                                
                                
                            <% } else { %>
                                <% if(permissions.includes("groups_join")) { %>
                                    <button class="button-main white-bg" onclick="joinGroup(this)" data-gid="<%= group.gid %>" <%= group.open ? "" : "disabled" %>><span class="button-text" style="color: <%= group.color %>">Join Group</span></button>
                                <% } %>
                                
                            <% } %> 
                        <% } %>
                        <button class="button-main white-bg" onclick="window.location = '/group/<%= group.gid %>'"><span class="button-text" style="color: <%= group.color %>">View Group</span></button>
                    </div>
                </div>
            <% } %>

            
           
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>