<!DOCTYPE html>
<html>
  <head>
    <title>Group</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/group.css" />
  </head>
  <body>

    

    <%- include('./partials/header.ejs'); %>


    <% let membership = undefined %>
    <% if(user) { %>
        <% membership = users.find(u => u.uid == user.uid) %>
    <% } %>
    
    <script>
        let gid = "<%= group.gid %>";
    </script>

    <script src="/js/group.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="flex apart group" style="background: <%= group.color %>;background: <%= group.gradientBackground %>;border-radius: <%= membership != undefined ? '16px 16px 16px 4px' : '16px'%> ">
                <div class="flex center">
                    <div>
                        <span class="xlarge material-symbols-rounded"><%= group.icon %></span>
                    </div>
                    <div class="spacing">
                        <span class="small">GROUP</span>
                        <span class="xlarge"><%= group.name %></span>
                    </div>
                    
                </div>
                <div class="flex center">
                    <% if(user) { %>
                        <% if(elevated) { %>
                            <button class="button-main white-bg" onclick="window.location = '/group/<%= group.gid %>/edit'"><span class="button-text" style="color: <%= group.color %>">Edit Group</span></button>
                        <% } %>
                        <% if(membership) { %>
                            <button class="button-main white-bg" data-open="<%= group.open %>" onclick="leaveGroup(this)"><span class="button-text" style="color: <%= group.color %>">Leave Group</span></button>
                            
                        <% } else { %>
                            <button class="button-main white-bg" onclick="joinGroup()" <%= group.open ? "" : "disabled" %>><span class="button-text" style="color: <%= group.color %>">Join Group</span></button>
                        <% } %> 

                    <% } else { %>
                        <span class="small"><i>Sign In to Join</i></span>
                    <% } %>
                </div>
            </div>
            <div class="flex apart">
                <div class="flex center start">
                    <% if(user) { %>
                        <% let membership = users.find(u => u.uid == user.uid) %>
                        <% if(membership) { %>
                            <div class="group-note flex center info-bg">
                                <span class="small">You are a <%= membership.elevated ? "Manager" : "Member" %>!</span>
                            </div>
                        <% } %>

                    <% } %>
                </div>
                
            </div>
            <div class="splitpage spacing">
                <div class="content-left">
                    <div class="flex center">
                        <span class="large spacing">Upcoming Events</span>
                    </div>
                    <div class="spacing-top">
                        <% events.forEach(event => { %>
                            <% let eventType = eventTypes.find(et => et.etyid == event.etyid) %>
                            <%- include('./partials/event/event_basic.ejs', {event: event, splits: splits, eventType: eventType}) %>
                        <% }) %>
                    </div>

                    
                </div>
                <div class="content-right">
                    
                    <div>
                        <span class="large spacing">Splits</span>
                        <div class="spacing-top">
                            <% splits.forEach(split => { %>
                                <%- include('./partials/config/split_item_view.ejs', {split: split}) %>
                            <% }) %>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>