<!DOCTYPE html>
<html>
  <head>
    <title>Songs</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/song.css" />
  </head>
  <body>
    <% let default_song = {soid: "DEFAULT_SOID", name: "DEFAULT_NAME", artist: "DEFAULT_ARTIST", friendly_name: "DEFAULT_FRIENDLYNAME", modification: "DEFAULT_MODIFICATION", updated: "DEFAULT_UPDATED", duration: "DEFAULT_DURATION", source: "DEFAULT_SOURCE", category: "DEFAULT_CATEGORY" } %>
    <script>
        let song_template = `<%- include('./partials/config/song_item.ejs', {song: default_song, canRemove: permissions.includes("songs_remove")}) %>`;
        let canRemoveSongs = `<%= permissions.includes("songs_remove") %>`;
        canRemoveSongs = canRemoveSongs == "true";
    </script>
    <%- include('./partials/header.ejs'); %>
    <script src="/js/songs_edit.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="song-vertical-flex">
                <div class="song-header">
                    <div class="flex center">
                        <span class="large spacing">Manage Song List</span>
                    </div>
                    
    
                    <span class="small spacing">Manage all of the available songs that can be selected for events. </span>
                    <div class="message message-warning">
                        <span class="small message-content">Removing songs can cause problems for both events and event templates.</span>
                    </div>

                    <div class="flex center wrap spacing">
                        <span class="small">Filter by...</span>
                        <div class="flex center wrap">
                            <div class="song-detail-item">
                                <div class="flex apart">
                                    <span class="tiny song-detail-tag">Song Name</span>
                                </div>
                                <div class="flex apart">
                                    <input type="text" class="input small" onchange="updateSongFilter()" placeholder="Song" name="name" id="song-search-name" />
                                </div>
                            </div>
                            <div class="song-detail-item">
                                <div class="flex apart">
                                    <span class="tiny song-detail-tag">Song Type</span>
                                </div>
                                <div class="flex apart">
                                    <select onchange="updateSongFilter()" class="input small" name="age" id="song-search-category">
                                        <option value="any">Any</option>
                                        <option value="regular">Regular</option>
                                        <option value="quick">Quickie</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="flex center spacing">
                        <span class="small spacing">Song Name</span>
                        <input type="text" class="input small" placeholder="New Song Name" name="name" id="song-create-name" />
                        <button class="button-main" onclick="createSong()" id="song-create"><span class="button-text">Create Song</span></button>
                    </div>
                    
                    
                </div>
                <div id="song-list" class="song-list">
                    
                </div>
            </div>
            
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>