<!DOCTYPE html>
<html>
  <head>
    <title>Group</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/split.css" />
  </head>
  <body>

    

    <%- include('./partials/header.ejs'); %>
    
    <script>
        let sid = "<%= split.sid %>";
    </script>

    <script src="/js/split.js"></script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="flex apart split" style="background: <%= split.color %>;background: <%= split.gradientBackground %>">
                <div class="flex center">
                    <div>
                        <span class="xlarge material-symbols-rounded"><%= split.icon %></span>
                    </div>
                    <div class="spacing">
                        <span class="small">SPLIT</span>
                        <span class="xlarge"><%= split.name %></span>
                    </div>
                    
                </div>
                <div class="flex center">
                    <% if(user) { %>
                        <% if(elevated || permissions.include("splits") || permissions.include("groups") || permissions.include("other_users_membership")) { %>
                            <button class="button-main white-bg" onclick="window.location = '/split/<%= split.sid %>/edit'"><span class="button-text" style="color: <%= split.color %>">Edit Split</span></button>
                        <% } %>
                        <% let membership = users.find(u => u.uid == user.uid) %>
                        <% if(membership) { %>
                            <% if(permissions.includes("splits_join")) { %>
                                <button class="button-main white-bg" onclick="leaveSplit()"><span class="button-text" style="color: <%= split.color %>">Leave Split</span></button>
                            <% } %>
                            
                            
                        <% } else { %>
                            <% if(permissions.includes("splits_join")) { %>
                                <button class="button-main white-bg" onclick="joinSplit()"><span class="button-text" style="color: <%= split.color %>" <%= split.open ? "" : "disabled" %>>Join Split</span></button>
                            <% } %>
                            
                        <% } %> 

                    <% } else { %>
                        <span class="small"><i>Sign In to Join</i></span>
                    <% } %>
                </div>
            </div>
            <div class="flex apart">
                <div class="flex center start">
                    <% if(user) { %>
                        <% let membership = users.find(u => u.uid == user.uid) %>
                        <% if(membership) { %>
                            <div class="split-note flex center info-bg">
                                <span class="small">You are a <%= membership.elevated ? "Manager" : "Member" %>!</span>
                            </div>
                        <% } %>

                    <% } %>
                    <div class="split-note flex center group" onclick="window.location = '/group/<%= split.gid %>'" style="background: <%= group.color %>;background: <%= group.gradientBackground %>">
                        <span class="small">A Part of </span>
                        <span class="small material-symbols-rounded"><%= group.icon %></span>
                        <span class="small"><strong><%= group.name %></strong></span>
                    </div>
                </div>
                
            </div>
            <div class="splitpage spacing">
                <div class="content-left">
                    <div class="flex center">
                        <span class="large spacing">Upcoming Events</span>
                    </div>
                    <div class="flex center wrap">
                        <% for(var i = 0; i < events.length; i++) { %>
                            <% let e = events[i]; %>
                            <% let applicableEventType = eventTypes.find(et => et.etyid == e.etyid); %>
                            <% if(applicableEventType == null) { %>
                                <% applicableEventType = defaultEventType; %>
                            <% } %>
                            <%- include('./partials/event/event_basic.ejs', {event: e, eventType: applicableEventType, canEdit: permissions.includes("events_edit") }); %>
                        <% } %> 
                        <% if(events.length == 0) { %>
                            <%- include('partials/empty.ejs', {filters: false, message: "No upcoming events!"}) %>
                        <% } %>
                    </div>
                </div>
                <div class="content-right">
                    
                    <div>
                        <span class="large spacing">Announcements</span>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>