<!--

    "event" parameter passed in. This parameter contains...
     - eid
     - etyid
     - etid_used
     - begin
     - end
     - open
     - show
     - data
     - updated
     - name

-->

<% let startDateString = event.start.getFullYear() + "-" + (event.start.getMonth() + 1).toString().padStart(2, '0') + "-" + event.start.getDate().toString().padStart(2, '0') %>
<% let startTimeString = event.start.getHours().toString().padStart(2, '0') + ":" + event.start.getMinutes().toString().padStart(2, '0') %>
<% let endDateString = event.ending.getFullYear() + "-" + (event.ending.getMonth() + 1).toString().padStart(2, '0') + "-" + event.ending.getDate().toString().padStart(2, '0') %>
<% let endTimeString = event.ending.getHours().toString().padStart(2, '0') + ":" + event.ending.getMinutes().toString().padStart(2, '0') %>

<div class="floating-box event <%= event.show ? "" : "event-hidden" %>" style="border-top-color: <%= eventType.color %>">
    <div class="flex apart event-header">
        <div class="flex center icon-container">
            <span class="material-symbols-rounded large" data-etyid="<%= eventType.etyid %>" <%= eventType.icon.startsWith("IMAGE:") ? "hidden" : "" %> name="icon_icon"><%= eventType.icon %></span>
            <img class="icon<%= eventType.icon.startsWith("IMAGE:") ? "" : " no-display event-image" %>" data-etyid="<%= eventType.etyid %>" name="icon_image"  src="<%= eventType.icon %>"/>
        </div>
        
        <div class="event-content">
            <div class="flex center">
                <span class="title event-title"><%= event.name %></span>
            </div>
            
            
        </div>
    </div>
    
    <div class="flex center spacing-bottom">
        <span class="small material-symbols-rounded spacing-right">schedule</span>
        <span class="small"><%= startDateString %> <%= startTimeString %></span>

    </div>
    <div class="flex center">
        <span class="tiny event-description"><%= event.description %></span>
    </div>
    <% if(event.splits != undefined && splits != undefined) { %>
        <div class="spacing">
            <div class="flex center">
                <span class="small">Attending Splits:</span>
            </div>
            <div class="flex center wrap">
                <% for(let i = 0; i < event.splits.length; i++) { %>
                    <% let split = splits[event.splits[i]] %>
                    <% let splitObject = splits.find(s => s.sid == event.splits[i]) %>
                    <% if(splitObject == undefined) continue %>
                    <span class="tiny tag-text white" style="background-color: <%= splitObject.color %>;"><%= splitObject.name %></span>
                <% } %>
            </div>
        </div>
    <% } %>

    <div class="flex apart event-date">
        <div>
            <% if(user && event.participating) { %>
                <span class="tiny tag-text white" style="background-color: <%= eventType.color %>;"><i>You're attending</i></span>
            <% } %>
        </div>
        <div class="flex center">
            <% if(canEdit){ %>
                <button class="button-main info-bg" style="background-color: <%= eventType.color %> !important;" onclick="window.location = '/event/<%= event.eid %>/edit'"><span class="button-text">Edit</span></button>
                <button class="button-main info-bg" style="background-color: <%= eventType.color %> !important;" onclick="window.location = '/event/<%= event.eid %>'"><span class="button-text">View</span></button>
            <% } else { %>
                <button class="button-main info-bg" style="background-color: <%= eventType.color %> !important;" onclick="window.location = '/event/<%= event.eid %>'"><span class="button-text">View Event</span></button>
            <% } %>
        </div>
    </div>
    
</div>