<div class="song-slot slot-empty flex center" data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>">
    <div class="song-slot-empty">
        <span class="medium slot-empty-content" name="slot-empty">Empty</span>
        <div class="flex center spacing">
            <button data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onclick="slotTriggerChoose(this, 'song')" class="button-tiny slot-empty-button flex center"><span class="button-text tiny material-symbols-rounded">music_note</span></button>
            <button data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onclick="slotTriggerChoose(this, 'break')" class="button-tiny slot-empty-button flex center"><span class="button-text tiny material-symbols-rounded">snooze</span></button>
            <button data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onclick="slotTriggerChoose(this, 'note')" class="button-tiny slot-empty-button flex center"><span class="button-text tiny material-symbols-rounded">event_note</span></button>
            <button data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onclick="removeSlot(this, event)" class="button-tiny slot-empty-button-remove flex center"><span class="button-text tiny material-symbols-rounded">remove</span></button>
        </div>

    </div>
    <div class="song-slot-details no-display fill">
        <div class="flex center fill song-slot-details-category" name="song">
            <div class="song-slot-name">
                <span class="medium" name="name"></span>
                <span class="small" name="modification">Modification</span>
                <span class="small" name="artist">By Artist</span>
                <div class="no-display" name="api-error">
                    <span class="small tag-text warning-bg">Error Finding Song</span>
                </div>
            </div>
            
        </div>
        <div class="flex center fill song-slot-details-category" name="break">
            <div class="song-slot-name">
                <div class="event-management-detail-item">
                    <div class="flex apart">
                        <span class="tiny event-management-detail-tag">Break Name</span>
                    </div>
                    <div class="flex apart">
                        <input data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onchange="editFilledSlot(this)" name="name" type="text" class="input event-type-detail-value small input-small" placeholder="Name"/>
                    </div>
                </div>
                <div class="event-management-detail-item">
                    <div class="flex apart">
                        <span class="tiny event-management-detail-tag">Break Length (seconds)</span>
                    </div>
                    <div class="flex apart">
                        <input data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onchange="editFilledSlot(this)" name="time" type="number" class="input event-type-detail-value small input-small" placeholder="#"/>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="flex center fill song-slot-details-category" name="note">
            <div class="song-slot-name">
                <div class="event-management-detail-item">
                    <div class="flex apart">
                        <span class="tiny event-management-detail-tag">Note Title</span>
                    </div>
                    <div class="flex apart">
                        <input data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onchange="editFilledSlot(this)" name="title" type="text" class="input event-type-detail-value small input-small" placeholder="Notable Note"/>
                    </div>
                </div>
                <div class="event-management-detail-item">
                    <div class="flex apart">
                        <span class="tiny event-management-detail-tag">Note Content</span>
                    </div>
                    <div class="flex apart">
                        <textarea data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>" onchange="editFilledSlot(this)" name="content" type="text" style="resize: none;" class="input event-type-detail-value small input-small" placeholder="Notable Note"></textarea>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="song-slot-icon">
            <div class="flex center">
                <span class="medium material-symbols-rounded" name="icon">music_note</span>
            </div>

        </div>
        <div class="song-slot-options">
            <div class="flex center">
                <button class="button-tiny error-bg flex center" onclick="removeFilledSlot(this, event)" data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>"><span class="button-text tiny material-symbols-rounded">cancel</span></button>
                <button class="button-tiny gray-bg flex center" onclick="removeSlot(this, event)" data-segid="<%= segment.segid %>" data-slotindex="<%= slotIndex %>"><span class="button-text tiny material-symbols-rounded">remove</span></button>
            </div>

        </div>
    </div>
    
</div>