<% let formattedPublish = announcement.published.toISOString().substring(0,10) + " @ " + announcement.published.toISOString().substring(11,16)  %>

<div class="floating-box announcement spacing-bottom" data-aid="<%= announcement.aid %>">
    <div class="flex apart">
        <div class="flex center spacing-right">
            <span class="huge material-symbols-rounded"><%= announcement.icon %></span>
        </div>
        
        <div class="flex apart announcement-content">
            <div>
                <span class="medium announcement-title"><%= announcement.name %></span>
                <span class="tiny announcement-title">Published <%= formattedPublish %></span>
            </div>
            
        </div>
    </div>
    <div class="spacing-top">
        <span class="small"><%= announcement.content %></span>
    </div>
    <div class="spacing-top flex apart">
        
        
    </div>
    <div class="spacing-top flex apart">
        <div class="flex center">
            <span class="small">For</span>
            <% if(announcement.global) { %>
                <span class="tiny tag-text info-bg">Everyone</span>
            <% } %>
        </div>
        <% if(canEdit) { %>
            <div class="flex center">
                <% if(!announcement.notified){ %>
                    <button data-aid="<%= announcement.aid %>" onclick="renotifyAnnouncement('<%= announcement.aid %>')" class="button-main spacing flex center"><span class="button-text material-symbols-rounded medium">notifications_active</span></button>
                <% } %>
                <button data-aid="<%= announcement.aid %>" onclick="window.location = '/announcement/<%= announcement.aid %>/edit'" class="button-alternate spacing"><span class="button-text">Edit</span></button>
                <button data-aid="<%= announcement.aid %>" onclick="deleteAnnouncement('<%= announcement.aid %>')" class="button-alternate error-bg spacing"><span class="button-text">Delete</span></button>
            </div>
        <% } %>
    </div>
</div>