<!-- 

    "role" parameter is passed from the parent view

    - rid
    - name
    - description
    - permission
    - user_count (custom variable from db)
    - updated

-->

<div class="event-type-view floating-box" data-etyid="<%= eventType.etyid %>">
    <div class="flex apart">
        <span></span>
        <div class="flex center">
            <span class="tiny">Event Type ID: </span>
            <span class="tiny event-type-detail-value event-type-main-info"><%= eventType.etyid %></span>
        </div>
        
    </div>
    <% if(eventType.event_count == 0) { %>
        <div class="message message-warning message-in-box">
            <span class="small message-content">This event type is used for any events. Consider removing unused event types if they are old!</span>
        </div>
    <% } %>
    <div class="flex center event-type-details">
        <div class="event-type-detail-item">
            <div class="flex apart">
                <span class="tiny event-type-detail-tag">Event Type Name</span>
            </div>
            <div class="flex apart">
                <input data-etyid="<%= eventType.etyid %>" onchange="editEventType(this)" name="name" type="text" class="input event-type-detail-value" placeholder="Name" value="<%= eventType.name %>"/>
            </div>
        </div>
    </div>
    <div class="flex center event-type-details">
        <div>
            <%- include('../../special/icon.ejs', {parentClass: "event-type-detail-item", icon: eventType.icon, label: "Visible Icon", labelClass: "event-type-detail-tag", idDataProperty: "etyid", id: eventType.etyid}) %>
            <div class="flex apart">
                <input data-etyid="<%= eventType.etyid %>" onchange="editEventType(this)" hidden disabled name="icon" type="text" class="input event-type-detail-value" placeholder="Icon" value="<%= eventType.icon %>"/>
            </div>
            <div class="flex center">
                <button data-etyid="<%= eventType.etyid %>" onclick="iconChoose(this)" class="button-alternate"><span class="button-text">Choose Icon</span></button>
                <button data-etyid="<%= eventType.etyid %>" onclick="imageChoose(this)" class="button-alternate"><span class="button-text">Choose Image</span></button>
            </div>
        </div>  

        
    </div>
    <div class="flex center">
        <div class="event-type-detail-item">
            <div class="flex apart">
                <span class="tiny event-type-detail-tag">Main Color</span>
            </div>
            <div class="flex apart">
                <input data-etyid="<%= eventType.etyid %>" name="color" type="color" class="input event-type-detail-value permission-input" onchange="editEventType(this)" value="<%= eventType.color %>"/>
            </div>
        </div>
    </div>
    <div class="flex center">
        <span class="small no-display error error-message" name="error" data-etyid="<%= eventType.etyid %>"></span>
    </div>
    <div class="flex apart">
        <div class="flex center">
            <button data-etyid="<%= eventType.etyid %>" onclick="deleteEventType(this)" class="button-alternate"><span class="button-text">Remove</span></button>
        </div>
    </div>
</div>