<!-- 

    "role" parameter is passed from the parent view

    - rid
    - name
    - description
    - permission
    - user_count (custom variable from db)
    - updated

-->

<div class="event-type-view floating-box" data-etyid="<%= eventType.etyid %>">
    <div class="flex apart">
        <span></span>
        <div class="flex center">
            <span class="tiny">Event Type ID: </span>
            <span class="tiny event-type-detail-value event-type-main-info"><%= eventType.etyid %></span>
        </div>
        
    </div>
    <% if(eventType.event_count == 0) { %>
        <div class="message message-warning message-in-box">
            <span class="small message-content">This event type is used for any events. Consider removing unused event types if they are old!</span>
        </div>
    <% } %>
    <div class="flex center event-type-details">
        <div class="event-type-detail-item">
            <div class="flex apart">
                <span class="tiny event-type-detail-tag">Event Type Name</span>
            </div>
            <div class="flex apart">
                <input data-etyid="<%= eventType.etyid %>" onchange="editEventTypes(this)" name="name" type="text" class="input event-type-detail-value" placeholder="Name" value="<%= eventType.name %>"/>
            </div>
        </div>
    </div>
    <div class="flex center event-type-details">
        <div class="event-type-detail-item flex center">
            <div class="flex center">
                <span class="material-symbols-rounded icon" data-etyid="<%= eventType.etyid %>" <%= eventType.icon.startsWith("IMAGE:") ? "hidden" : "" %> name="icon_icon"><%= eventType.icon %></span>
                <img class="icon" data-etyid="<%= eventType.etyid %>" name="icon_image" <%= eventType.icon.startsWith("IMAGE:") ? "" : "hidden" %> src="<%= eventType.icon %>"/>
            </div>
            <div class="flex apart">
                <span class="tiny event-type-detail-tag">Visible Icon</span>
            </div>
            <div class="flex apart">
                <input data-etyid="<%= eventType.etyid %>" hidden disabled name="permission" type="number" class="input event-type-detail-value permission-input" placeholder="Role Name" value="<%= eventType.icon %>"/>
            </div>
        </div>
    </div>
    <div class="flex center">
        <div class="event-type-detail-item">
            <div class="flex apart">
                <span class="tiny event-type-detail-tag">Main Color</span>
            </div>
            <div class="flex apart">
                <input data-etyid="<%= eventType.etyid %>" name="color" type="color" class="input event-type-detail-value permission-input" onchange="editEventType(this)" value="<%= eventType.icon %>"/>
            </div>
        </div>
    </div>
    <div class="flex center">
        <span class="small no-display error error-message" name="error" data-etyid="<%= eventType.etyid %>"></span>
    </div>
    <div class="flex apart">
        <div class="flex center">
            <button data-etyid="<%= eventType.etyid %>" onclick="deleteEventType(this)" class="button-alternate"><span class="button-text">Remove</span></button>
        </div>
    </div>
</div>