<div class="group" data-gid="<%= group.gid %>" style="background: <%= group.color %>;background: <%= group.gradientBackground %>">
    <div class="flex apart">
        <span class="large"><%= group.name %></span>
        <span class="medium material-symbols-rounded"><%= group.icon %></span>
    </div>
</div>