<!-- 

   "group" parameter is passed into this file:

    - gid  
    - name
    - description
    - user_count (custom variable from db)
    - updated
    - extra_data

-->

<div class="group-view floating-box" data-gid="<%= group.gid %>">
    <div class="flex apart">
        <div class="flex center">
            <span class="tiny">Group ID: </span>
            <span class="tiny group-detail-value group-main-info"><%= group.gid %></span>
        </div>
        
    </div>
    <% if(group.user_count > 0) { %>
        <div class="message message-error message-in-box">
            <span class="small message-content"><%= group.user_count %> <% if(group.user_count > 1) { %>users currently are in<% } else { %>user currently is in<% } %> this group!</span>
        </div>
    <% } %>
    <div class="flex center group-details">
        <div class="group-detail-item">
            <div class="flex apart">
                <span class="tiny group-detail-tag">Group Name</span>
            </div>
            <div class="flex apart">
                <input data-gid="<%= group.gid %>" onchange="editGroup(this)" name="name" type="text" class="input group-detail-value" placeholder="Group Name" value="<%= group.name %>"/>
            </div>
        </div>
        <div>
            <div class="group-detail-item flex center">
                <div class="flex center icon-container">
                    <span class="material-symbols-rounded icon" data-gid="<%= group.gid %>" <%= group.icon.startsWith("IMAGE:") ? "hidden" : "" %> name="icon_icon"><%= group.icon %></span>
                    <img class="icon<%= group.icon.startsWith("IMAGE:") ? "" : " no-display" %>" data-gid="<%= group.gid %>" name="icon_image"  src="<%= group.icon %>"/>
                </div>
                <div class="flex apart">
                    <span class="tiny group-detail-tag">Group Icon</span>
                </div>
                <div class="flex apart">
                    <input data-gid="<%= group.gid %>" onchange="editGroup(this)" hidden disabled name="icon" type="text" class="input group-detail-value" placeholder="Icon" value="<%= group.icon %>"/>
                </div>
            </div>
            <div class="flex center">
                <button data-gid="<%= group.gid %>" onclick="iconChoose(this)" class="button-alternate"><span class="button-text">Choose Icon</span></button>
                <button data-gid="<%= group.gid %>" onclick="imageChoose(this)" class="button-alternate"><span class="button-text">Choose Image</span></button>
            </div>
        </div>
    </div>
    <div class="group-detail-item">
        <div class="flex apart">
            <span class="tiny group-detail-tag">Group Contact</span>
        </div>
        <div class="flex apart">
            <input data-gid="<%= group.gid %>" onchange="editGroup(this)" name="uid_primary" type="number" class="input group-detail-value" placeholder="123456" value="<%= group.uid_primary %>"/>
        </div>
    </div>
    <div class="flex center">
        <div class="group-detail-item">
            <div class="flex apart">
                <span class="tiny group-detail-tag">Description</span>
            </div>
            <div class="flex apart">
                <textarea data-gid="<%= group.gid %>" onchange="editGroup(this)" name="description" class="input small group-detail-value"><%= group.description %></textarea>
            </div>
        </div>
    </div>
    <div class="flex center">
        <span class="small no-display error error-message" name="error" data-gid="<%= group.gid %>"></span>
    </div>
    <div class="flex apart">
        <div class="flex center">
            <button data-gid="<%= group.gid %>" <%= group.user_count > 0 ? 'disabled' : '' %> onclick="deletegroup(this)" class="button-alternate"><span class="button-text">Remove</span></button>
        </div>
    </div>
</div>