<div class="group" data-gid="<%= group.gid %>" style="background: <%= group.color %>;background: <%= group.gradientBackground %>">
    <div class="flex apart">
        <div class="flex center">
            <span class="medium material-symbols-rounded"><%= group.icon %></span>
            <span class="large"><%= group.name %></span>
        
        </div>
        <div class="flex center">
             <% if(group.elevated) { %>
                <span class="small">MANAGER</span>
            <% } %>
        </div>
    </div>
</div>