<!-- 

    "role" parameter is passed from the parent view

    - rid
    - name
    - description
    - permission
    - user_count (custom variable from db)
    - updated

-->

<div class="role-view floating-box" data-rid="<%= role.rid %>">
    <div class="flex apart">
        <% if(myRole && myRole.name == role.name) { %>
            <span class="tiny tag-text info-bg">You have this role</span>
        <% } else { %>
            <span></span>
        <% } %>
        <div class="flex center">
            <span class="tiny">Role ID: </span>
            <span class="tiny role-detail-value role-main-info"><%= role.rid %></span>
        </div>
        
    </div>
    <% if(role.user_count > 0) { %>
        <div class="message message-error message-in-box">
            <span class="small message-content"><%= role.user_count %> <% if(role.user_count > 1) { %>users currently have<% } else { %>user currently has<% } %> this role!</span>
        </div>
    <% } %>
    <div class="flex center role-details">
        <div class="role-detail-item">
            <div class="flex apart">
                <span class="tiny role-detail-tag">Visible Name</span>
            </div>
            <div class="flex apart">
                <input data-rid="<%= role.rid %>" onchange="editRole(this)" name="name" type="text" class="input role-detail-value" placeholder="Role Name" value="<%= role.name %>" <%= canEdit && hasPower ? "" : "disabled" %>/>
            </div>
        </div>
        <div class="role-detail-item">
            <div class="flex apart">
                <div class="flex center">
                    <span class="tiny role-detail-tag">Power</span>
                    <span class="small material-symbols-rounded" title="A role power determines what actions it can perform relative to other roles!">question_mark</span>
                </div>
                
                
            </div>
            <div class="flex apart">
                <input data-rid="<%= role.rid %>" onchange="editRole(this)" name="power" type="number" class="input role-detail-value permission-input" placeholder="Power" value="<%= role.power %>" <%= canEdit && hasPower ? "" : "disabled" %>/>
            </div>
        </div>
        <div>
            <%- include('../../special/icon.ejs', {parentClass: "role-detail-item", icon: role.icon, label: "Visible Icon", labelClass: "role-detail-tag", idDataProperty: "rid", id: role.rid}) %>
            <div class="flex apart">
                <input data-rid="<%= role.rid %>" onchange="editRole(this)" hidden disabled name="icon" type="text" class="input role-detail-value" placeholder="Icon" value="<%= role.icon %>"/>
            </div>
            <% if(canEdit){ %>
                <div class="flex center">
                    <button data-rid="<%= role.rid %>" <%= hasPower ? '' : 'disabled' %> onclick="iconChoose(this)" class="button-alternate"><span class="button-text">Choose Icon</span></button>
                    <button data-rid="<%= role.rid %>" <%= hasPower ? '' : 'disabled' %> onclick="imageChoose(this)" class="button-alternate"><span class="button-text">Choose Image</span></button>
                </div>
            <% } %>
        </div>
    </div>
    <div class="flex center">
        <div class="role-detail-item">
            <div class="flex apart">
                <span class="tiny role-detail-tag">Description</span>
            </div>
            <div class="flex apart">
                <textarea data-rid="<%= role.rid %>" onchange="editRole(this)" name="description" class="input small role-detail-value" <%= canEdit && hasPower ? "" : "disabled" %>><%= role.description %></textarea>
            </div>
        </div>
    </div>
    <div class="flex center">
        <div class="role-detail-item">
            <div class="flex apart">
                <span class="tiny role-detail-tag">Permissions</span>
            </div>
            <div class="flex center permissions wrap" data-rid="<%= role.rid %>">
                <% for(var i = 0; i < role.permissions.length; i++) { %>
                    <span class="tiny config-detail-value config-main-info resolve-further permission" data-permission="<%= role.permissions[i].permission_uniq_name %>" data-rid="<%= role.rid %>"  <%= canEdit && hasPower ? "onclick='removePermission(this)'" : "" %>><%= role.permissions[i].permission_uniq_name %></span>
                <% } %>
                <% if(canEdit) { %>
                    <button class="button-alternate permission-add" <%= hasPower ? '' : 'disabled' %> onclick="addPermission(this)" data-rid="<%= role.rid %>"><span class="button-text">+</span></button>
                <% } %>
            </div>
        </div>
    </div>
    <div class="flex center">
        <span class="small no-display error error-message" name="error" data-rid="<%= role.rid %>"></span>
    </div>
    <div class="flex apart">
        <div class="flex center">
            <button data-rid="<%= role.rid %>" <%= role.user_count > 0 ? 'disabled' : '' %> onclick="deleteRole(this)" class="button-alternate" <%= canEdit && hasPower ? "" : "disabled" %>><span class="button-text">Remove</span></button>
        </div>
    </div>
</div>