<!-- 

    "role" parameter is passed from the parent view

    - rid
    - name
    - description
    - permission
    - user_count (custom variable from db)
    - updated

-->

<div class="role-view floating-box" data-rid="<%= role.rid %>">
    <div class="flex apart">
        <% if(myRole && myRole.name == role.name) { %>
            <span class="tiny tag-text info-bg">You have this role</span>
        <% } else { %>
            <span></span>
        <% } %>
        <div class="flex center">
            <span class="tiny">Role ID: </span>
            <span class="tiny role-detail-value role-main-info"><%= role.rid %></span>
        </div>
        
    </div>
    <% if(role.user_count > 0) { %>
        <div class="message message-error message-in-box">
            <span class="small message-content"><%= role.user_count %> <% if(role.user_count > 1) { %>users currently have<% } else { %>user currently has<% } %> this role!</span>
        </div>
    <% } %>
    <div class="flex center role-details">
        <div class="role-detail-item">
            <div class="flex apart">
                <span class="tiny role-detail-tag">Visible Name</span>
            </div>
            <div class="flex apart">
                <input data-rid="<%= role.rid %>" onchange="editRole(this)" name="name" type="text" class="input role-detail-value" placeholder="Role Name" value="<%= role.name %>"/>
            </div>
        </div>
        <div class="role-detail-item">
            <div class="flex apart">
                <span class="tiny role-detail-tag">Permission</span>
            </div>
            <div class="flex apart">
                <input data-rid="<%= role.rid %>" onchange="editRole(this)" name="permission" type="number" class="input role-detail-value permission-input" placeholder="Role Name" value="<%= role.permission %>"/>
            </div>
        </div>
        <div>
            <div class="role-detail-item flex center">
                <div class="flex center icon-container">
                    <span class="material-symbols-rounded icon" data-rid="<%= role.rid %>" <%= role.icon.startsWith("IMAGE:") ? "hidden" : "" %> name="icon_icon"><%= role.icon %></span>
                    <img class="icon<%= role.icon.startsWith("IMAGE:") ? "" : " no-display" %>" data-rid="<%= role.rid %>" name="icon_image"  src="<%= role.icon %>"/>
                </div>
                <div class="flex apart">
                    <span class="tiny role-detail-tag">Visible Icon</span>
                </div>
                <div class="flex apart">
                    <input data-rid="<%= role.rid %>" onchange="editRole(this)" hidden disabled name="icon" type="text" class="input role-detail-value" placeholder="Icon" value="<%= role.icon %>"/>
                </div>
            </div>
            <div class="flex center">
                <button data-rid="<%= role.rid %>" onclick="iconChoose(this)" class="button-alternate"><span class="button-text">Choose Icon</span></button>
                <button data-rid="<%= role.rid %>" onclick="imageChoose(this)" class="button-alternate"><span class="button-text">Choose Image</span></button>
            </div>
        </div>
    </div>
    <div class="flex center">
        <div class="role-detail-item">
            <div class="flex apart">
                <span class="tiny role-detail-tag">Description</span>
            </div>
            <div class="flex apart">
                <textarea data-rid="<%= role.rid %>" onchange="editRole(this)" name="description" class="input small role-detail-value"><%= role.description %></textarea>
            </div>
        </div>
    </div>
    <div class="flex center">
        <span class="small no-display error error-message" name="error" data-rid="<%= role.rid %>"></span>
    </div>
    <div class="flex apart">
        <div class="flex center">
            <button data-rid="<%= role.rid %>" <%= role.user_count > 0 ? 'disabled' : '' %> onclick="deleteRole(this)" class="button-alternate"><span class="button-text">Remove</span></button>
        </div>
    </div>
</div>