<!--

    "song" parameter is passed from the above snippet

    - soid
    - name
    - friendly_name
    - artist
    - modification
    - duration
    - source



-->

<div class="song-item" data-soid="<%= song.soid %>">
    <div>
        <div class="flex apart">
            <div class="flex center song-detail-tag">
                <span class="tiny song-main-info">Song ID: </span>
                <span class="tiny song-detail-value song-main-info"><%= song.soid %></span>
                
            </div>
        </div>
        
        <div class="flex apart song-details">
            <div class="flex center end">
                <div>
                    <div class="flex center wrap song-details">
                        <div class="song-detail-item">
                            <div class="flex apart">
                                <span class="tiny song-detail-tag">Full Name</span>
                            </div>
                            <div class="flex apart">
                                <input data-soid="<%= song.soid %>" onchange="editSong(this)" value="<%= song.name %>" type="text" class="input song-detail-value" name="name" placeholder="name"/>
                            </div>
                        </div>
                        <div class="song-detail-item">
                            <div class="flex apart">
                                <span class="tiny song-detail-tag">Artist</span>
                            </div>
                            <div class="flex apart">
                                <input data-soid="<%= song.soid %>" onchange="editSong(this)" value="<%= song.artist %>" type="text" class="input song-detail-value" name="artist" placeholder="Artist"/>
                            </div>
                        </div>
                        <div class="song-detail-item">
                            <div class="flex apart">
                                <span class="tiny song-detail-tag">Modification</span>
                            </div>
                            <div class="flex apart">
                                <input data-soid="<%= song.soid %>" onchange="editSong(this)" value="<%= song.modification %>" type="text song-italics" class="input song-detail-value" name="modification" placeholder="Act 1"/>
                            </div>
                        </div>
                    </div>
                    <div class="song-expand song-expand-hide" data-soid="<%= song.soid %>">
                        <div class="flex apart">
                            <div class="flex center wrap">
                                <div class="song-detail-item">
                                    <div class="flex apart">
                                        <span class="tiny song-detail-tag">Visible Name</span>
                                    </div>
                                    <div class="flex apart">
                                        <input data-soid="<%= song.soid %>" onchange="editSong(this)" value="<%= song.friendly_name %>" type="text" class="input song-detail-value" name="friendly_name" placeholder="Friendly Name"/>
                                    </div>
                                </div>
                                
                                <div class="song-detail-item">
                                    <div class="flex apart">
                                        <span class="tiny song-detail-tag">Duration</span>
                                    </div>
                                    <div class="flex apart">
                                        <div class="flex center">
                                            <input data-soid="<%= song.soid %>" onchange="editSong(this)" value="<%= song.duration %>" hidden type="number" class="input song-detail-value" name="duration" placeholder="duration"/>
                                            <input data-soid="<%= song.soid %>" onchange="editSongDuration(this)" type="number" class="input song-detail-value song-duration" name="duration-minute" placeholder="0"/>
                                            <span class="tiny song-detail-tag song-detail-value">m</span>
                                            <input data-soid="<%= song.soid %>" onchange="editSongDuration(this)" type="number" class="input song-detail-value song-duration" name="duration-second" placeholder="0"/>
                                            <span class="tiny song-detail-tag song-detail-value">s</span>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        
    
                        <div class="spacing song-usage-details-button" data-soid="<%= song.soid %>">
                            <button data-soid="<%= song.soid %>" onclick="customSongUsageResolve(this)" class="button-alternate spacing"><span class="button-text">Get Past Song Usage</span></button>
                        </div>
                        
    
                        <div class="song-usage-details no-display" data-soid="<%= song.soid %>">
                            <div class="flex apart">
                                <div class="flex center">
                                    <div class="song-detail-item">
                                        <div class="flex apart">
                                            <span class="tiny song-detail-tag">Time Frame</span>
                                        </div>
                                        <div class="flex apart">
                                            <select data-soid="<%= song.soid %>" onchange="editSongUsageView(this)" class="input small song-detail-value song-usage-timespan" name="usage">
                                                <option value="any" selected>Any Time</option>
                                                <option value="-168">Past Week</option>
                                                <option value="-720">Past Month</option>
                                                <option value="-8760">Past Year</option>
                                            </select>
        
                                            <span data-soid="<%= song.soid %>" class="small song-usage"></span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                    </div>
                </div>

                <div onclick="toggleSongExpansion(this)" class="song-expand-button flex center" data-soid="<%= song.soid %>">
                    <span class="material-symbols-rounded song-expand-button-content medium">arrow_downward</span>
                </div>
            </div>
            
            <div>
                <div class="song-detail-item">
                    <div class="flex apart">
                        <span class="tiny song-detail-tag">Type of Song</span>
                    </div>
                    <div class="flex apart">
                        <select data-soid="<%= song.soid %>" onchange="editSong(this)" data-origvalue="<%= song.category %>" class="input song-detail-value" name="category">
                            <option value="null" disabled>Select a Type</option>
                            <option value="regular">Regular Song</option>
                            <option value="quick">Quickie</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
            <div class="song-detail-item">
                <% if(canRemove) { %>
                    <button data-soid="<%= song.soid %>" onclick="deleteSong(this)" class="button-alternate error-bg"><span class="button-text">Delete</span></button>
                <% } %>
                <button data-soid="<%= song.soid %>" onclick="cloneSong(this)" class="button-alternate"><span class="button-text">Duplicate</span></button>
            </div>
        </div>
        <div>
            <span class="small no-display error error-message" name="error" data-soid="<%= song.soid%>"></span>
        </div>
    </div>
    
    
</div>