<!-- 

   "split" parameter is passed into this file:

    - sid
    - gid  
    - name
    - description
    - user_count (custom variable from db)
    - updated
    - extra_data

-->

<div class="split-view floating-box" data-sid="<%= split.sid %>">
    <div class="flex apart">
        <div class="flex center">
            <span class="tiny">Split ID: </span>
            <span class="tiny split-detail-value split-main-info"><%= split.sid %></span>
        </div>
        
    </div>
    <% if(split.user_count > 0) { %>
        <div class="message message-error message-in-box">
            <span class="small message-content"><%= split.user_count %> <% if(split.user_count > 1) { %>users currently are in<% } else { %>user currently is in<% } %> this split!</span>
        </div>
    <% } %>
    <div class="flex center split-details">
        <div class="split-detail-item">
            <div class="flex apart">
                <span class="tiny split-detail-tag">Split Name</span>
            </div>
            <div class="flex apart">
                <input data-sid="<%= split.sid %>" onchange="editSplit(this)" name="name" type="text" class="input split-detail-value" placeholder="Group Name" value="<%= split.name %>"/>
            </div>
        </div>
        <div class="split-detail-item">
            <div class="flex apart">
                <span class="tiny split-detail-tag">Split Open</span>
            </div>
            <div class="flex apart">
                <label class="checkbox-container">
                    <input type="checkbox" data-sid="<%= split.sid %>" onchange="editSplitCheckbox(this)" name="open" checked="<%= split.open %>"/>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="flex center">
        <div>
            <div class="split-detail-item flex center">
                <div class="flex center icon-container">
                    <span class="material-symbols-rounded icon" data-sid="<%= split.sid %>" <%= split.icon.startsWith("IMAGE:") ? "hidden" : "" %> name="icon_icon"><%= split.icon %></span>
                    <img class="icon<%= split.icon.startsWith("IMAGE:") ? "" : " no-display" %>" data-sid="<%= split.sid %>" name="icon_image"  src="<%= split.icon %>"/>
                </div>
                <div class="flex apart">
                    <span class="tiny split-detail-tag">Split Icon</span>
                </div>
                <div class="flex apart">
                    <input data-sid="<%= split.sid %>" onchange="editSplit(this)" hidden disabled name="icon" type="text" class="input split-detail-value" placeholder="Icon" value="<%= split.icon %>"/>
                </div>
            </div>
            <div class="flex center">
                <button data-sid="<%= split.sid %>" onclick="iconChoose(this)" class="button-alternate"><span class="button-text">Icon</span></button>
                <button data-sid="<%= split.sid %>" onclick="imageChoose(this)" class="button-alternate"><span class="button-text">Image</span></button>
            </div>
        </div>
    </div>
    <div class="split-detail-item">
        <div class="flex apart">
            <span class="tiny split-detail-tag">Managers</span>
        </div>
        <div class="flex center managers wrap" data-sid="<%= split.sid %>">
            <% for(var i = 0; i < split.managers.length; i++) { %>
                <span class="tiny config-detail-value config-main-info resolve-further manager" data-uid="<%= split.managers[i].uid %>" data-sid="<%= split.sid %>" onclick="removeManager(this)"><%= split.managers[i].full_name %></span>
            <% } %>
            
            <button class="button-alternate manager-add" onclick="addManager(this)" data-sid="<%= split.sid %>"><span class="button-text">+</span></button>
        </div>
    </div>
    <div class="flex center">
        <div class="split-detail-item">
            <div class="flex apart">
                <span class="tiny split-detail-tag">Notes</span>
            </div>
            <div class="flex apart">
                <textarea data-sid="<%= split.sid %>" onchange="editSplit(this)" name="description" class="input small split-detail-value"><%= split.description %></textarea>
            </div>
        </div>
    </div>
    <div class="flex center">
        <div class="split-detail-item">
            <div class="flex apart">
                <span class="tiny split-detail-tag">Split Color</span>
            </div>
            <div class="flex apart">
                <input data-sid="<%= split.sid %>" name="color" type="color" class="input split-detail-value permission-input" onchange="editSplit(this)" value="<%= split.color %>"/>
            </div>
        </div>
        <div class="split-detail-item">
            <div class="flex apart">
                <span class="tiny split-detail-tag">Apart of Group</span>
            </div>
            <div class="flex apart">
                <select onchange="editSplit(this)" class="input small linked-group" name="gid" data-sid="<%= split.sid %>">
                    <option value="-1" disabled>Select a Group</option>
                    <% for(let i = 0; i < groups.length; i++) { %>
                        <option value="<%= groups[i].gid %>" <%= split.gid == groups[i].gid ? "selected" : ""%>><%= groups[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
    </div>


    <div class="flex center">
        <span class="small no-display error error-message" name="error" data-sid="<%= split.sid %>"></span>
    </div>
    <div class="flex apart">
        <div class="flex center">
            <button data-sid="<%= split.sid %>" <%= split.user_count > 0 ? 'disabled' : '' %> onclick="deleteSplit(this)" class="button-alternate"><span class="button-text">Remove</span></button>
        </div>
    </div>
</div>