<div class="user-item" data-uid="<%= user.uid %>">
    <div class="flex apart">
        <div class="flex center user-details-account wrap">
            <label class="checkbox-container">
                <input type="checkbox" onchange="selectUser(this)" data-uid="<%= user.uid %>"/>
                <span class="checkmark"></span>
            </label>
            <div class="user-detail-item">
                <div class="flex apart">
                    <span class="tiny user-detail-tag">Full Name</span>
                </div>
                <div class="flex apart">
                    <span class="medium user-detail-value user-main-info"><%= user.full_name %></span>
                </div>
            </div>
            <div class="user-detail-item">
                <div class="flex apart">
                    <span class="tiny user-detail-tag">MTU ID</span>
                </div>
                <div class="flex apart">
                    <span class="medium user-detail-value user-main-info"><%= user.mtu_id %></span>
                </div>
            </div>
            <div class="user-detail-item">
                <div class="flex apart">
                    <span class="tiny user-detail-tag">Email</span>
                </div>
                <div class="flex apart">
                    <span class="medium user-detail-value user-main-info resolve-further"><%= user.email %></span>
                </div>
            </div>
            <div class="user-detail-item">
                <div class="flex apart">
                    <span class="tiny user-detail-tag">Last Seen</span>
                </div>
                <div class="flex apart">
                    <span class="small user-detail-value user-main-info"><%= user.last_seen %></span>
                </div>
            </div>
        </div>
    
        <div class="flex center user-details-role">
            <div class="user-detail-item">
                <div class="flex apart">
                    <span class="tiny user-detail-tag">Role</span>
                </div>
                <div class="flex apart">
                    <% if(permissions.includes("other_roles_assign")) { %>
                        <select data-uid="<%= user.uid %>" onchange="editUserRole(this)" class="input user-detail-value" name="role">
                            <% for (let i = 0; i < roles.length; i++) { %>
                                <option value="<%= roles[i].rid %>"><%= roles[i].name %></option>
                            <% } %>
                        </select>
                    <% } else { %>
                    <span class="medium user-detail-value user-main-info"><%= user.rid %></span>
                    <% } %>
                </div>
            </div>
        </div>
    
        <div class="flex center user-details-actions">
            <div class="user-actions" name="different">
                <% if(permissions.includes("other_users_remove")) { %>
                    <button data-uid="<%= user.uid %>" onclick="deleteUser(this)" class="button-alternate error-bg"><span class="button-text">Remove</span></button>
                <% } %>
                <% if(permissions.includes("other_users_punish")) { %>
                    <button data-uid="<%= user.uid %>" onclick="deleteUser(this)" class="button-alternate error-bg"><span class="button-text">Restrict</span></button>
                <% } %>
                <button data-uid="<%= user.uid %>" onclick="deleteUser(this)" class="button-alternate error-bg"><span class="button-text">Remove</span></button>
            </div>
            <div class="user-actions" name="same">
                <span class="tag-text info-bg">This is You!</span>
            </div>
        </div>
    </div>
    
    <div>
        <span class="small no-display error error-message" name="error" data-uid="<%= user.uid%>"></span>
    </div>
</div>